/*================*/
/*==== Assets ====*/
/*================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');


/*=========================*/
/*==== Universal Styles ====*/
/*=========================*/

html {
  font-family: "Monserrat", sans-serif;
}


/*========== SPECIFIC STYLES ==========*/


/*=====================*/
/* HEADER SECTION */
/*=====================*/
#header { /*parent of logo section + nav section = flex */
  height: 80px; /* made slightly larger than spec */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  margin-left: 24px;

}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 40px;
  margin-right: 10px;
}

#logo span {
  font-size: 24px; /* made smaller than spec */
}

.logo-style {
  font-weight: bold;

}

.logo-secondary-style {
  color: rgba(159, 157, 157, 0.8); /*Gray*/

}


/* DESKTOP NAVIGATION */
#nav ul {/*parent of li = flex*/
  display: flex;
  width: 400px;
  justify-content: space-between;
}

#nav ul li {
  margin-right: 16px;
}

#nav a {
  color: #000000;
  text-decoration: none;
}

#nav a:hover {
  color: rgba(159, 157, 157, 1.0); /*Gray*/
  text-decoration: none;
}

.secondaryNav {
  font-weight: bold;
}

#navMobile {
  display: none;
}



/****MOBILE NAVIGATION****/
@media only screen and (max-width: 480px) {

 #nav {
    display: none;
  }

  #logo {
    display: none;
  }

  #navMobile {
    display: block;
    background-color: white;
    width: 100%;
    height: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }


  #navMobile img {
    width: 40px;
  }


}


/*=====================*/
/* BANNER SECTION */
/*=====================*/
#banner { /* parent of .banner-image + banner-content */
  background-color: rgba(159, 157, 157, 0.3); /*light gray*/
  height: auto;
  display: flex;
}

/* left side of banner one */
.banner-image {
  margin: 32px 24px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.banner-image img {
  width: 100%; /* to prevent cropped */

}

/* Right side of banner one */
.banner-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;
  margin-left: 24px;
  text-align: left;
}


.banner-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom:  24px;
}

.banner-content p {
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 22px;
}


.banner-button a {
  background-color: #000000;
  color: white;
  padding: 20px 150px; /* made slightly larger than spec */
  text-align: center;
  text-decoration: none;

}

.banner-button a:hover {
  background-color: rgba(159, 157, 157, 1.0); /*Gray*/
}


/****MOBILE BANNER SECTION****/

@media only screen and (max-width: 480px) {

  #banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }

  .banner-image {
    width: 100%;
    margin-top: 0px;
  }

  #banner-image img {
    width: 100%;
  }

  .banner-content {
    width: 100%;

  }

  .banner-content h2 {
    font-size: 32px;
    margin-top: 0px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;

  }

  .banner-content p {
    padding-left: 16px;
    padding-right: 16px;
  }

  .banner-button a {
    margin-left: 16px;
    padding: 15px 140px;
  }

}

/*=====================*/
/* BANNER TWO SECTION */
/*=====================*/
#bannerTwoWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 24px;

}


/* Left side column of banner two "practice" */
#practice {
  width: 60%;
  padding-right: 34px;
}

#practice img {
  width: 100%;
  margin-right: 24px;
  margin-top: 50px;
}

#practice h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 35px;
}

#practice p {
  line-height: 22px;
  margin-bottom: 40px;
}

#practice span {
  font-size: 14px;
  font-style: italic;
}



/* Right side column of banner two "school products" */
#schoolProducts {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  border-left: 2px solid rgba(159, 157, 157, 0.3); /* light gray */
  padding-left: 24px;
}

#schoolInfoWrapper {
  display: inline-flex;
  flex-direction: row;
  /*margin: 16px;*/
  margin-left: 0px;
}

#schoolInfoWrapper:hover {
  background-color: rgba(159, 157, 157, 0.3); /*light gray*/

}

#schoolImage {
  width: 45%; /* made slightly larger than spec */
  margin: 16px;
}

#schoolImage img {
  width: 100%;
}

.school-description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.school-description h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.school-description p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

a.readMore {
  color: rgba(32, 113, 227, 1.0); /*blue*/
  text-decoration: none;
}

.school-image-mobile {
  display: none;
}

/****MOBILE BANNER TWO SECTION****/
@media only screen and (max-width: 480px) {

  #practice {
    display: none;
  }

  #schoolImage {
    display: none;
  }

  #bannerTwoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding-top: 0px;
  }

  #schoolProducts {
    border: none;
    width: 90%;
    padding-left: 0px;

  }

  #schoolInfoWrapper {
    flex-direction: column;
    margin: 0px;
    margin-left: 0px;

  }

  .school-image-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;

  }

  .school-image-mobile {
    width: 100%;
    margin-right: 20px;
    margin-left: 0px;

  }

  .school-image-mobile img {
    width: 100%;

  }

  .school-description.mobile {
    width: 100%;
    margin-bottom: 24px;
    margin-left: 0px;

  }

  .school-description.mobile h3 {
    font-size: 22px;
    margin-top: 16px;

  }

  .school-description.mobile p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;


  }



}



/*==============================*/
/*==== BANNER THREE SECTION ====*/
/*=============================*/
#bannerThreeWrapper {
  margin-top: 32px;
  background-color: rgba(159, 157, 157, 0.3); /* lightGray */
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  height: auto;
  position: relative;
}

#bannerThreeWrapper .learningTitle {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 520px;

}

#learning {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.course {
  background-color: #ffffff;
  display: inline-block;
  width: 260px;
  margin-left: 32px;
  height: 275px;
  margin-bottom: 32px;
}

.course img {
  width: 100%;
  height: auto;
}

.courseText {
  margin: 16px;
}

.course .title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.course p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.course span {
  font-size: 14px;
  line-height: 18px;
}

#mobile-learning {
  display: none;
}

/****MOBILE BANNER THREE SECTION****/
@media only screen and (max-width: 480px) {

  #learning {
    display: none;
  }

  #bannerThreeWrapper .learningTitle {
    display: none;

  }

  #bannerThreeWrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    background-color: #ffffff;

  }

  #mobile-learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 100%;
  }

  #mobile-learning h2 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #mobile-learning div {
    font-size: 20px;
    font-weight: bold;
    background-color: #000000; /*light gray*/
    color: #ffffff;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    text-align: left;

  }

  #mobile-learning div:hover {
    background-color: rgba(159, 157, 157, 0.8); /*light gray*/


  }



}



/*=============================*/
/* BANNER FOUR SECTION */
/*=============================*/
#bannerFourWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 32px 24px;
  position: relative;
  padding-top: 80px

}

#bannerFourWrapper h2 {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 540px;
}

/* left side of the fourth banner */
#urban {
  width: 60%;

}

#urban video {
  width: 100%;

}

#urbanText {

}

#urbanText h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
}

#urbanText p {

}

/* right side of the fourth banner */
#design {
  width: 40%;
  margin-left: 24px;
  margin-bottm: 32px;

}

.designTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 16px;

}

.designTypes:hover {
  background-color: rgba(159, 157, 157, 0.3); /* light gray */
}

.designTypes img {
  margin: 16px;
  width: 35%;
  height: auto;
}


.designTypesText {
  width: 60%;
  margin: 16px;
}

.designTypesText h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 22px;
}

.designTypesText p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;

}


/****MOBILE BANNER FOUR SECTION****/

@media only screen and (max-width: 480px) {

  #urbanText {
    display: none;
  }

  .designTypes {
    display: none;
  }

  #bannerFourWrapper {
    flex-direction: column;
    margin: 0px;
    width: 100%;
    padding-top: 0px;
  }

  #bannerFourWrapper h2 {
    position: relative;
    left: 80px;
    margin-top: 32px;
    margin-bottom: 16px;

  }

  #urban  {
    width: 100%;
    padding: 0px;
    margin-top: 32px;
  }



}

/*=============================*/
/* FOOTER */
/*=============================*/

#footer {
  border-top: 2px solid rgba(159, 157, 157, 0.3); /* light gray */
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

#footer span {
  font-size: 14px;

}

#footer div span {
  padding-left: 24px;
}

#footer div a {
  color: #000000;
  text-decoration: none;
}

#footer div a:hover {
  color: rgba(159, 157, 157, 1.0); /*Gray*/
}

/****MOBILE FOOTER****/

@media only screen and (max-width: 480px) {

  #footer div {
      display: none;
  }

  #footer {
    border: none;
    margin-top: 24px;
    font-weight: lighter;
    justify-content: center;


  }

  #footer span {
    font-size: 14px;
  }

}
