/*================*/
/*==== Assets ====*/
/*================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');


/*=========================*/
/*==== Universal Styles ====*/
/*=========================*/

html {
  font-family: "Monserrat", sans-serif;
}

/*======================================*/
/*========== SPECIFIC STYLES ===========*/
/*======================================*/

/*=====================*/
/* HEADER SECTION */
/*=====================*/
header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 2.5rem;
  margin-right: 0.625rem;
}

#logo span {
  font-size: 1.5rem; /* made smaller than spec */
}

.logo-style {
  font-weight: bold;
}

.logo-secondary-style {
  color: rgba(159, 157, 157, 0.8); /*Gray*/
}


/* DESKTOP NAVIGATION */
nav ul {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

nav ul li {
  margin-right: 1rem;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  color: rgba(159, 157, 157, 1.0); /*Gray*/
  text-decoration: none;
}

.secondaryNav {
  font-weight: bold;
}

#navMobile {
  display: none;
}


/****MOBILE NAVIGATION****/
@media only screen and (max-width: 480px) {

 nav {
    display: none;
  }

  #logo {
    display: none;
  }

  #navMobile {
    display: block;
    background-color: white;
    width: 100%;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }


  #navMobile img {
    width: 2.5rem;
  }


}


/*=====================*/
/* BANNER SECTION */
/*=====================*/
#banner { /* parent of .banner-image + banner-content */
  background-color: rgba(159, 157, 157, 0.3); /*light gray*/
  height: auto;
  display: flex;
}

/* left side of banner one */
.banner-image {
  margin: 2rem 1.5rem;
  width: 60%;
  display: flex;
  justify-content: center;
}

.banner-image img {
  width: 100%; /* to prevent cropped */
}

/* Right side of banner one */
.banner-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-align: left;
}


.banner-content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom:  1.5rem;
}

.banner-content p {
  font-size: 1rem;
  margin-bottom: 3.125rem;
  line-height: 1.375rem;
}

.banner-button a {
  background-color: #000000;
  color: white;
  padding: 1.25rem 9.375rem; /* made slightly larger than spec */
  text-align: center;
  text-decoration: none;
}

.banner-button a:hover {
  background-color: rgba(159, 157, 157, 1.0); /*Gray*/
}


/****MOBILE BANNER SECTION****/

@media only screen and (max-width: 480px) {

  #banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.75rem;
  }

  .banner-image {
    width: 100%;
    margin-top: 0px;
  }

  #banner-image img {
    width: 100%;
  }

  .banner-content {
    width: 100%;

  }

  .banner-content h2 {
    font-size: 2rem;
    margin-top: 0px;
    line-height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .banner-content p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .banner-button a {
    margin-left: 1rem;
    padding: 1rem 8.45rem;
  }

}

/*=====================*/
/* BANNER TWO SECTION */
/*=====================*/
#bannerTwoWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5rem;

}


/* Left side column of banner two "practice" */
#practice {
  width: 60%;
  padding-right: 2.125rem;
}

#practice img {
  width: 100%;
  margin-right: 1.5rem;
  margin-top: 3.125rem;
}

#practice h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2.25rem;
}

#practice p {
  line-height: 1.375rem;
  margin-bottom: 2.5rem;
}

#practice span {
  font-size: 0.875rem;
  font-style: italic;
}



/* Right side column of banner two "school products" */
#schoolProducts {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 2.125rem;
  border-left: 0.125rem solid rgba(159, 157, 157, 0.3); /* light gray */
  padding-left: 1.5rem;
}

#schoolInfoWrapper {
  display: inline-flex;
  flex-direction: row;
  /*margin: 16px;*/
  margin-left: 0px;
}

#schoolInfoWrapper:hover {
  background-color: rgba(159, 157, 157, 0.3); /*light gray*/

}

#schoolImage {
  width: 45%; /* made slightly larger than spec */
  margin: 1rem;
}

#schoolImage img {
  width: 100%;
}

.school-description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.school-description h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.school-description p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 1.125rem;
}

a.readMore {
  color: rgba(32, 113, 227, 1.0); /*blue*/
  text-decoration: none;
}

.school-image-mobile {
  display: none;
}

/****MOBILE BANNER TWO SECTION****/
@media only screen and (max-width: 480px) {

  #practice {
    display: none;
  }

  #schoolImage {
    display: none;
  }

  #bannerTwoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding-top: 0px;
  }

  #schoolProducts {
    border: none;
    width: 90%;
    padding-left: 0px;
  }

  #schoolInfoWrapper {
    flex-direction: column;
    margin: 0px;
    margin-left: 0px;
  }

  .school-image-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .school-image-mobile {
    width: 100%;
    margin-right: 1.25rem;
    margin-left: 0px;
  }

  .school-image-mobile img {
    width: 100%;
  }

  .school-description.mobile {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: 0px;
  }

  .school-description.mobile h3 {
    font-size: 1.375rem;
    margin-top: 1rem;
  }

  .school-description.mobile p {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.375rem;
  }

}

/*==============================*/
/*==== BANNER THREE SECTION ====*/
/*=============================*/
#bannerThreeWrapper {
  margin-top: 2rem;
  background-color: rgba(159, 157, 157, 0.3); /* lightGray */
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 7.5rem;
  height: auto;
  position: relative;
}

#bannerThreeWrapper .learningTitle {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 2.5rem;
  left: 32.5rem;
}

#learning {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.course {
  background-color: #ffffff;
  display: inline-block;
  width: 16.25rem;
  margin-left: 2rem;
  height: 17.1875rem;
  margin-bottom: 2rem;
}

.course img {
  width: 100%;
  height: auto;
}

.courseText {
  margin: 1rem;
}

.course .title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.course p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.course span {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

#mobile-learning {
  display: none;
}

/****MOBILE BANNER THREE SECTION****/
@media only screen and (max-width: 480px) {

  #learning {
    display: none;
  }

  #bannerThreeWrapper .learningTitle {
    display: none;
  }

  #bannerThreeWrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    background-color: #ffffff;
  }

  #mobile-learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.25rem;
    width: 100%;
  }

  #mobile-learning h2 {
    font-size: 1.875rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
  }

  #mobile-learning div {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #000000; /*light gray*/
    color: #ffffff;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    margin-bottom: 0.625rem;
    text-align: left;
  }

  #mobile-learning div:hover {
    background-color: rgba(159, 157, 157, 0.8); /*light gray*/
  }

}

/*=============================*/
/* BANNER FOUR SECTION */
/*=============================*/
#bannerFourWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2rem 1.5rem;
  position: relative;
  padding-top: 5rem;
}

#bannerFourWrapper h2 {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 1.25rem;
  left: 33.75rem;
}

/* left side of the fourth banner */
#urban {
  width: 60%;
}

#urban video {
  width: 100%;
}

#urbanText h3 {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* right side of the fourth banner */
#design {
  width: 40%;
  margin-left: 1.5rem;
  margin-bottm: 2rem;
}

.designTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 1rem;
}

.designTypes:hover {
  background-color: rgba(159, 157, 157, 0.3); /* light gray */
}

.designTypes img {
  margin: 1rem;
  width: 35%;
  height: auto;
}


.designTypesText {
  width: 60%;
  margin: 1rem;
}

.designTypesText h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  line-height: 1.375rem;
}

.designTypesText p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}


/****MOBILE BANNER FOUR SECTION****/

@media only screen and (max-width: 480px) {

  #urbanText {
    display: none;
  }

  .designTypes {
    display: none;
  }

  #bannerFourWrapper {
    flex-direction: column;
    margin: 0px;
    width: 100%;
    padding-top: 0px;
  }

  #bannerFourWrapper h2 {
    position: relative;
    left: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #urban  {
    width: 100%;
    padding: 0px;
    margin-top: 2rem;
  }

}

/*=============================*/
/* FOOTER */
/*=============================*/

footer {
  border-top: 0.125rem solid rgba(159, 157, 157, 0.3); /* light gray */
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3.125rem;
  display: flex;
  justify-content: space-between;
}

footer span {
  font-size: 0.875rem;
}

footer div span {
  padding-left: 1.5rem;
}

footer div a {
  color: #000000;
  text-decoration: none;
}

footer div a:hover {
  color: rgba(159, 157, 157, 1.0); /*Gray*/
}

/****MOBILE FOOTER****/

@media only screen and (max-width: 480px) {

  footer div {
      display: none;
  }

  footer {
    border: none;
    margin-top: 1.5rem;
    font-weight: lighter;
    justify-content: center;
  }

  footer span {
    font-size: 0.875rem;
  }

}
